target
.DS_Store
.*-save

my-build/
my-build.sh

yoink-demo.zip
/yoink-demo/yoink-*
/yoink-demo/.yoinkignore
/yoink-demo/.yoinkpass

/client/this_folder_will_be_sent/
/client/src/.yoinkconfig

/server/data/
/server/src/.yoinkconfig
/server/.yoinkignore
/server/.yoinkpass